<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading"> <i class="fas fa-exclamation-circle"></i> Recuerda!</h4>
    <p class="mb-0">Debes seleccionar un cliente, producto y el número de orén que obtuviste en Bizagi. Estos tres parámetros van a conformar el nombre del archivo.</p>
</div>



<div class="jumbotron animated bounceInRight">
    <h1> <i class="fas fa-file-upload"></i> Subir Archivo </h1>
    <hr class="my-4">
    <form ngNativeValidate [formGroup]="formulario" (ngSubmit)="buscarPorOrden()" novalidate="novalidate">
        <div class="form-row">
            <div class=" form-group col-md-3">
                <input type="text" readonly class="form-control-plaintext" value="Número de ordén">
            </div>
            <div class="form-group col-md-3">
                <input type="text" class="form-control" id="txtNumeroOrden" placeholder="123456" formControlName="numeroOrden">
                <div *ngIf="formulario.controls['numeroOrden'].errors?.required" class=" form-control-feedback alert alert-danger">
                    <small>*Obligatorio</small>
                </div>
                <div *ngIf="formulario.controls['numeroOrden'].hasError('minlength')" class="form-control-feedback alert alert-danger">
                    <small>*Debe contener minimo 6 digitos</small>
                </div>
                <div *ngIf="formulario.get('numeroOrden').hasError('numeroOrden')" class="form-control-feedback alert alert-danger">
                    <small>*Debe ser un Número</small>
                </div>
            </div>
            <div class="form-group col-md-6">
                <button (click)="buscarPorOrden()" [disabled]="!formulario.valid " type="submit " class="btn btn-success"> <i class="fas fa-search"></i>  Buscar Ordén</button> &nbsp;
                <button (click)="limpiar()" type="reset" class="btn btn-primary"> <i class="fas fa-eraser"></i> Borrar </button>

            </div>
        </div>
    </form>

    <hr>


    <form class="form-horizontal" *ngIf="visible">
        <fieldset>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="cliente"> <i class="fas fa-user-alt"></i>  Cliente</label>
                    <select id="cliente" class="form-control">                            
                        <option   [selected]  *ngFor="let or of ordenes" >{{or.cliente.RAZON_SOCIAL | uppercase}}</option>      
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="producto"> <i class="fab fa-product-hunt"></i> Producto</label>
                    <select id="producto" class="form-control">
                        <option [selected] *ngFor="let or of ordenes" >{{or.producto.DESCRIPCION_PRODUCTO | uppercase}}</option>    
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <div class="form-group col-md-8 file-path-wrapper">
                        <label for="archivo"><i class="fas fa-align-justify"></i> Archivo</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="archivo" aria-describedby="archivo">
                                <label class="custom-file-label" for="archivo">Seleccionar Archivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group block-center">
                <div class="col-lg-10 col-lg-offset-4">
                    <button type="reset" class="btn btn-primary"> <i class="fas fa-trash-alt"></i> Limpiar Formulario</button>&nbsp;
                    <button (click)="subirArchivo()" type="submit" class="btn btn-success"> <i class="fas fa-file-upload"></i>  Subir Archivo</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>