<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading"> <i class="fas fa-exclamation-circle"></i> Recuerda!</h4>
    <p class="mb-0">Debes seleccionar un cliente, producto y el número de orén que obtuviste en Bizagi. Estos tres parámetros van a conformar el nombre del archivo.</p>
</div>



<div class="jumbotron animated bounceInRight">
    <h1> <i class="fas fa-file-upload"></i> Subir Archivo </h1>
    <hr class="my-4">
    <form ngNativeValidate [formGroup]="formulario" (ngSubmit)="buscarPorOrden()" novalidate="novalidate">
        <div class="form-row">
            <div class=" form-group col-md-3">
                <input type="text" readonly class="form-control-plaintext" value="Número de ordén">
            </div>
            <div class="form-group col-md-3" [ngClass]="{'alert alert-danger':!formulario.get('numeroOrden').valid}">
                <input type="text" class="form-control" id="txtNumeroOrden" placeholder="123456" formControlName="numeroOrden">
                <div *ngIf="formulario.controls['numeroOrden'].errors?.required" class=" form-control-feedback alert alert-danger">
                    <small>*Obligatorio</small>
                </div>
                <div *ngIf="formulario.controls['numeroOrden'].hasError('minlength')" class="form-control-feedback alert alert-danger">
                    <small>*Debe contener minimo 6 digitos</small>
                </div>
                <div *ngIf="formulario.get('numeroOrden').hasError('numeroOrden')" class="form-control-feedback alert alert-danger">
                    <small>*Debe ser un Número</small>
                </div>
            </div>
            <div class="form-group col-md-6">
                <button (click)="buscarPorOrden()" [disabled]="!formulario.valid " type="submit " class="btn btn-success"> <i class="fas fa-search"></i>  Buscar Ordén</button> &nbsp;
                <button (click)="limpiar()" type="reset" class="btn btn-primary"> <i class="fas fa-eraser"></i> Borrar </button>

            </div>
        </div>
    </form>

    <hr>


    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="subirArchivo()" class="form-horizontal" novalidate="novalidate" *ngIf="visible">
        <fieldset>

            <div class="form-row">
                <div class="form-group col-md-6" [ngClass]="{'alert alert-danger':!forma.get('proveedor').valid}">
                    <label for="proveedor"> <i class="fas fa-address-card"></i>  Proveedor</label>

                    <div *ngIf="buscarProveedor">
                        <input id="textoProveedor" #input (keyup.enter)="llenarProveedor(input.value)" onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()" class="form-control" type="text" placeholder="Buscar Proveedor.." style="font-family: FontAwesome, Montserrat; font-style: normal">
                    </div>
                    <div *ngIf="opcionesProveedor">
                        <select id="proveedor" class="form-control" required formControlName="proveedor" (change)=" proveedorSeleccionado($event.target.value)">         
                            <option value="0">Selecciona un Proveedor</option>                                             
                            <option *ngFor="let p of proveedores"  [attr.value]="p.codigoProveedor" >{{p.nombreProveedor | uppercase}}</option>      
                        </select>
                        <div *ngIf="forma.controls['proveedor'].errors?.required" class=" form-control-feedback alert alert-danger">
                            <small>*Obligatorio</small>
                        </div>
                    </div>

                </div>

                <div class="form-group col-md-6" [ngClass]="{'alert alert-danger':!forma.get('cliente').valid}">
                    <label for="cliente"> <i class="fas fa-user-alt"></i>  Cliente</label>

                    <div *ngIf="buscarCliente">
                        <input id="textoCliente" #input (keyup.enter)="llenarClientes(input.value)" onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()" class="form-control" type="text" placeholder="Buscar Cliente..">
                    </div>

                    <div *ngIf="opcionesCliente">
                        <select id="cliente" class="form-control" required formControlName="cliente" (change)="clienteSeleccionado($event.target.value)">  
                            <option value="0">Selecciona un Cliente</option>                          
                            <option  *ngFor="let cl of clientes"  [attr.value]="cl.codigoCliente">{{cl.razonSocial | uppercase}}</option>      
                        </select>
                        <div *ngIf="forma.controls['cliente'].errors?.required" class=" form-control-feedback alert alert-danger">
                            <small>*Obligatorio</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6" [ngClass]="{'alert alert-danger':!forma.get('producto').valid}">
                    <label for="producto"><i class="fab fa-product-hunt"></i> Producto</label>
                    <div *ngIf="buscarProducto">
                        <input id="textoProducto" #input (keyup.enter)="llenarProductos(input.value)" onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()" class="form-control" type="text" placeholder="Buscar Producto..">
                    </div>
                    <div *ngIf="opcionesProducto">
                        <select id="producto" class="form-control" required formControlName="producto" (change)="productoSeleccionado($event.target.value)">
                            <option value="0">Selecciona un Producto</option>                          
                            <option *ngFor="let pr of productos" [attr.value]="pr.codigoProducto" >{{pr.descripcionProducto | uppercase}}</option>    
                        </select>
                        <div *ngIf="forma.controls['producto'].errors?.required" class=" form-control-feedback alert alert-danger">
                            <small>*Obligatorio</small>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 file-path-wrapper">
                    <label for="archivo"><i class="fas fa-align-justify"></i> Archivo</label>
                    <div class="input-group">
                        <div class="card">
                            <div class="card-body" align="center">
                                <h4 class="card-title text-primary"> <i class="fas fa-folder-open"></i> Archivo a Subir </h4>
                                <label for="input-file-now">Selecciona el Archivo .txt a subir</label>
                                <div *ngIf="validarCampos()">
                                    <input #archivo (change)="seleccionArchivo($event.target.files[0])" type="file" id="archivo" accept="text/plain" class="dropify" required formControlName="archivo" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div *ngIf="mostrarNombreArchivo">
                El nombre del archivo sera: {{cod_cliente +'_' + cod_producto+'_' + numero_orden +'.txt'}}
                <br>
                <hr>
            </div>

            <div class="form-group block-center">
                <div class="col-lg-10 col-lg-offset-4">
                    <button (click)="limpiar()" type="reset" class="btn btn-primary"> <i class="fas fa-trash-alt"></i> Limpiar Formulario</button>&nbsp;
                    <button (click)="subirArchivo()" [disabled]="!forma.valid" type="submit " class="btn btn-success"> <i class="fas fa-file-upload"></i>  Subir Archivo</button>
                </div>
            </div>
        </fieldset>

    </form>
</div>