<div class="modal fade" id="informacion" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <i class="fas fa-shoe-prints"></i> Pasos para subir el archivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered table-hover ">
                    <thead>
                        <tr class="table-success">
                            <th>
                                Proceso
                            </th>
                            <th colspan="2">
                                Pasos
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td rowspan="4">
                            Envio de SMS Masivos
                        </td>
                        <td>Paso 1</td>
                        <td> Selecciona un cliente</td>
                    </tr>
                    <tr>
                        <td>Paso 2</td>
                        <td>Seleccione un Producto</td>
                    </tr>
                    <tr>
                        <td>Paso 3</td>
                        <td>Ingrese el número de ordén generado por Bizagi</td>
                    </tr>
                    <tr>
                        <td>Paso 4</td>
                        <td>Suba el archivo entregado por el cliente</td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fas fa-window-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action primary">
        <img class="img-responsive" src="../../../../assets/img/puntaje.png" alt="">
    </a>
    <a href="#" class="list-group-item" data-toggle="modal" data-target="#informacion"><i class="fas fa-shoe-prints"></i> Pasos para subir un archivo </a>
</div>